{% extends "main/index.html" %}

{% block tandc %}
<div class="row">
	<div class="col-sm-3 side-bar">
		<h4 class="display-4">
			Terms And Conditions
		</h4>
		 <hr class="d-sm-none">
	</div>
	
	<div class="col-sm-9">
		There are some of the most important items to cover in your lease or rental agreement:<br>

<br><h1>Names of all tenants:-</h1>

<br><h1><u>Tenancy Agreement:</u></h1><br>
A written agreement, containing the terms and conditions, needs to be executed by the owner and the tenant for the tenancy to take effect. A copy of the same will be provided to the tenant once the agreement has been signed by the both parties. The tenant is advised to read all the clauses in the document and seek clarification if required to leave no room for ambiguity as far as her responsibilities and obligations are concerned.

The agreement will be valid throughout the tenancy period and the tenant will be obliged to abide by the rules recorded in the agreement during her stay. No exception to the rules will be made under any circumstances and any deviation will amount to a breach of agreed terms, and the owner, in such cases, will be entitled to take action as per the agreement terms and conditions.

<br><h1><u>Try-Out Option:</u></h1></br>
Each tenant is allowed to try-out the facility for a period of up to 4 days before committing to a full-term tenancy. The tenant can assess the facility during this period to see whether the services provided by the PG owner fulfill her requirements or not. If, for some reason, the tenant decides to opt out of the agreement during this period, the rent and deposit amount will be refunded in full after deducting the move-out charges, which include a pro rata rent, calculated based on the number of days she stays at the facility. A notice will not be required in such cases.

<br><h1><u>Additional Benefit:</u></h1></br>
The owner will provide two free service visits per month for the purpose of maintenance; however, the actual cost of materials needs to be paid by the tenant.

 <br><h1><u>Additional non-refundable charges:</u></h1></br>

The tenancy agreement would require the tenant to pay agreement execution, police verification, and other additional charges, which are not part of the initial deposit. These charges are non-refundable and need to be paid two days prior to the move-in day for the agreement to take place. These charges need to be paid every time the rental agreement is renewed when the term expires. Please note that Teddy PG will not be responsible for a delay in the process of verification due to circumstances beyond the control of any of the parties involved in the verification process.

<br><h1><u>Cancellation and Refund:</u></h1></br>

<br><h1>Cancellation before rental effective date:</h1><br> The security deposit will be refunded in full if the cancellation is made prior to the effective date.

<br><h1>Cancellation after effective date: </h1></br>If the tenant chooses to opt out of the service within 4 days of taking possession, the deposit and rent will be refunded after deducting the move-out charges and the rent for the number of days she avails the service. However, cancellation after 4th day would result in a breach of lock-in period, and hence, notice period shortfalls charges, renovation charges, and other necessary charges will be applicable as per the terms and conditions specified in the agreement.
	</div>
</div>
  
{% endblock %}